@import url('https://cdn.syncfusion.com/ej2/material.css');

.right-column {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
}

@media (max-width: 991px) {
    .right-column {
        width: 100%;
        margin-top: 23px;
    }
}

.calendar {
    border-radius: 15px;
    background-color: rgba(196, 196, 196, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    /* height: 339px; */
    height: 330px;
    width: 311.55px;
    padding: 10px;

    /* justify-content: center;
    align-items: center;
    display: flex; */
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* gap: 25px;
    margin: 32px 23px 0; */

    margin-top: 15px;
    gap: 15px;
}

@media (max-width: 991px) {
    .button-container {
        margin: 0 10px;
    }
}

.button {
    /* padding: 13px 21px 7px; */
    border-radius: 10px;
    background-color: rgba(83, 83, 83, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    font-family: 'Inria Serif', sans-serif;
    /* font-size: 18px;
    font-weight: 700; */
    color: #fff;
    border: none;
    cursor: pointer;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    padding: 10px 32px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for scale and shadow */
}

@media (max-width: 991px) {
    .button {
        padding-left: 20px;
        white-space: initial;
    }
}

.button:hover {
    background-color: rgb(141, 141, 141);
    /* Slightly lighter shade of the original background */
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
    /* More pronounced shadow */
    transform: scale(1.05);
    /* Increase size by 5% */
}

.button-favorite {
    /* padding: 11px 20px; */


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inria Serif', sans-serif;
    border-radius: 10px;
    background-color: rgb(187, 40, 40);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    padding: 10px 30px;
}

.button-favorite:hover {
    background-color: rgb(199, 23, 23);
    /* Slightly lighter shade of the original background */
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
    /* More pronounced shadow */
    transform: scale(1.05);
    /* Increase size by 5% */
}

@media (max-width: 991px) {
    .button {
        padding: 0 20px;
    }
}

.button-right {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inria Serif, sans-serif;
    border-radius: 10px;
    background-color: rgb(187, 40, 40);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    align-items: start;
    white-space: nowrap;
    justify-content: center;
    padding: 10px 26px;
}

.button-right:hover {
    background-color: rgb(199, 23, 23);
    /* Slightly lighter shade of the original background */
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.65);
    /* More pronounced shadow */
    transform: scale(1.05);
    /* Increase size by 5% */
}

.e-input-group .e-input-group-icon:last-child,
.e-input-group.e-control-wrapper .e-input-group-icon:last-child {
    font-size: 15px;
}

.e-calendar .e-header .e-title,
.e-bigger.e-small .e-calendar .e-header .e-title {
    color: black;
    font-size: 16px;
}

.calendar table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    margin-top: 5px;
    table-layout: fixed; /* Ensures the columns width are fixed */
}

.calendar table th, .calendar table td {
    text-align: center;
    padding: 8px;
    font: 10px "Inria Serif", sans-serif;
    border-bottom: 1px solid #eaeaea;
}

.calendar table th {
    background-color: #e0e0e0;
    color: #333;
}

.calendar table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.calendar table tr:hover {
    background-color: #f1f1f1;
}

.calendar table th.track, .calendar table td.track {
    width: 45%; /* Larger space for track names */
}

.calendar table th.artist, .calendar table td.artist {
    width: 37.5%; /* Medium space for artist names */
}

.calendar table th.delete, .calendar table td.delete {
    width: 7.5%; /* Smallest space for delete button */
}

.calendar table th.play, .calendar table td.play {
    width: 10%; /* Smallest space for delete button */
}

.button-delete {
    font-size: 5px;
    color: white;
    background-color: rgba(83, 83, 83, 1);
    border: none;
    border-radius: 5px;
    padding: 1px 7px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.2s;
    outline: none;
}

.button-delete:hover {
    transform: scale(1.2);
    background-color: rgb(141, 141, 141);
}

.button-play {
    font-size: 5px;
    color: white;
    background-color: rgba(83, 83, 83, 1);
    border: none;
    border-radius: 5px;
    padding: 1px 7px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.2s;
    outline: none;
}

.button-play:hover {
    transform: scale(1.2);
    background-color: rgb(141, 141, 141);
}
