/* .weather-container {
    float: right;
    margin-left: auto;
  } */


  .weather-container {
    float: right;
    display: flex;
    justify-content: flex-end;
    background-color: #f0f0f0; /* 添加背景色 */
    padding: 20px; /* 添加内边距 */
    border-radius: 10px; /* 添加边框圆角 */
    width: 200px; /* 设置宽度 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    margin-right: 80px; /* 添加右边距 */
  }
  
  .weather-text {
    font-size: 18px; /* 设置字体大小 */
    color: #333; /* 设置字体颜色 */
  }