body {
    margin: 0;
    font-family: 'Inria Serif', serif;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
}

@media (max-width: 991px) {
    .container {
        padding: 0 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1108px;
    margin-top: 0px;
}

@media (max-width: 991px) {
    .content {
        max-width: 100%;
    }
}

.divider {
    height: 32px;
    border-radius: 10px;
    background-color: #737373;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
    .divider {
        max-width: 100%;
    }
}

.intro {
    margin-top: 81px;
    color: #515151;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .intro {
        max-width: 100%;
        margin-top: 40px;
    }
}

.intro-bold {
    font-weight: 700;
}

.intro-text {
    font-size: 16px;
}

.heading {
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 991px) {
    .heading {
        max-width: 100%;
    }
}

.main-content {
    display: flex;
    margin-top: 21px;
}

@media (max-width: 991px) {
    .main-content {
        max-width: 100%;
        flex-direction: column;
    }
}

.left-column {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 20px;
}

@media (max-width: 991px) {
    .left-column {
        width: 100%;
        margin-right: 0;
    }
}

.weather-cards {
    display: flex;
    gap: 15px;
    flex-grow: 1;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 991px) {
    .weather-cards {
        flex-wrap: wrap;
        max-width: 100%;
        margin-top: 23px;
    }
}

.weather-card {
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 15px 18px;
    border-radius: 15px;
    background-color: #c6c6c6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.weather-icon {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
}

.weather-title {
    margin: auto 0;
    flex-grow: 1;
    font-family: 'Inria Serif', sans-serif;
}

/* .weather-details {
    height: 302px;
    margin-top: 16px;
    border-radius: 15px;
    background-color: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid #d9d9d9;
} */

@media (max-width: 991px) {
    .weather-details {
        max-width: 100%;
    }
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media (max-width: 991px) {
    .right-column {
        width: 100%;
        margin-top: 23px;
    }
}

.calendar {
    height: 302px;
    border-radius: 15px;
    background-color: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 32px 23px 0;
}

@media (max-width: 991px) {
    .button-container {
        margin: 0 10px;
    }
}

.button {
    padding: 13px 21px 7px;
    border-radius: 10px;
    background-color: #3d3d3d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inria Serif', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-favorite {
    padding: 11px 20px;
}

@media (max-width: 991px) {
    .button {
        padding: 0 20px;
    }
}

.music {
    height: 204px;
    margin-top: 16px;
    border-radius: 15px;
    background-color: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
    .music {
        max-width: 100%;
    }
}